body {
    font-family: 'Arial';
    margin-left: 40px;
    background-color: white;
}

.heading {
    margin-top: 50px;
    font-weight: 600;
    font-size: 30px;
}

.generate-button,
.sort-button {
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    background-color: skyblue;
    color: white;
    font-weight: 600;
    font-size: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.generate-button:hover,
.sort-button:hover {
    opacity: 90%;
}

.generate-button:active,
.sort-button:active {
    opacity: 100%;
}

.bar {
    width: 20px;
    background-color: rgb(200, 200, 252);
    transition: height 0.5s ease;
}

.flex-container {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-top: 50px;
    margin-left: 30px;
}